.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}
.letter-r{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.right-r{
    width: 44%;
    height: 44%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}
.left-r{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.bottom-r{
    height: 52%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    top: 39%;
    left: 33%;
    -webkit-transform: rotate(-40deg);  
}