h1{
    font-size: 100px;
    color: white;
}
h2{
    color: white;
    
}
body{
    font-family:Indie Flower;
    font-size: 15px;
    text-align: center;
    background-color: #000d1a;
}

p{
    color: White;
}

a:link{ color: white;}
a:visited{color:red;}
a:hover{color: blue;
    background-color: #E06666;
}
a:active{color: green;}

.non-white-link:link{color: black;}
.non-white-link:visited{color: black;}
.non-white-link:hover{color: white;}
.non-white-link:active{color: yellow;}