.letter-wrapper{
    display: inline-block;
    width: 100px;
    height: 100px;
    /*background-color: blue;*/
}

.letter-x{
    width: 100px;
    height: 100px;
    position: relative;
   display: inline-block;
}
.left-x{
    height: 85%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 40%;
    top: 10%;
    -webkit-transform: rotate(-40deg); 
}
.right-x{
    height: 85%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 40%;
    top: 10%; 
    -webkit-transform: rotate(40deg); 
}

.x{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color:white;
    border: 2px solid black;
}