.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}

.letter-t{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.top-t{
    width: 67%;
    height: 1.2%;
    background-color: red;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-t{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    top: 17%;
    left: 50%;
}