body{
    background-color: black;
}
.letter-wrapper{
    display: inline-block;
    width: 90px;
    height: 90px;
}

.letter-a{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left{
     height: 67%;
     width: 1%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 17%;
     -webkit-transform: rotate(22deg);
}
.right{
     height: 67%;
     width: 1.2%;
     background-color: black;
     /*border: 2px solid black;*/
     position: absolute;
     top: 17%;
     left: 43%;
     -webkit-transform: rotate(155deg);
}
.middle{
    width: 34%;
    height: 1.2%;
    background-color: black;
    /*border: 2px solid black;*/
    position: absolute;
    top: 58%;
    left: 14%;
}

.letter-b{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
    /*background-color: blue;*/
}
.left-b{
    height: 70%;
    width: 1.2%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 15%;
}
.top-b{
    width: 40%;
    height: 40%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 15%;
}
.bottom-b{
    width: 40%;
    height: 40%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 15%;
}

.letter-c{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-c{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%;
}
.top-c{
    width: 65%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%;
}
.bottom-c{
    width: 65%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}

.letter-d{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-d{
    height: 65%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%;
}
.right-d{
    width: 73%;
    height: 73%;
    border: 1px solid black;
    border-radius: 210%;
    position: absolute;
    top: 14%;
    left: 17%;
}

.letter-e{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.top-e{
    width: 66%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-e{
    width: 66%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-e{
    width: 66%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 83%;
    left: 18%;
}
.left-e{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}

.letter-f{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-f{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.top-f{
    width: 67%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.middle-f{
    width: 67%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}

.letter-g{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-g{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-g{
    width: 1.2%;
    height: 34%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 84%;
}
.top-g{
    width: 66%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.bottom-g{
    width: 67%;
    height: 1.2%;
   /* border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 83%;
    left: 18%;
}
.middle-g{
    width: 34%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
}

.letter-h{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-h{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.right-h{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 84%;
    top: 17%; 
}
.middle-h{
    width: 67%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}

.letter-i{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.center-i{
    width: 1.2%;
    height: 67%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-j{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.right-j{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.left-j{
    height: 34%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 43%;
    top: 50%; 
}
.bottom-j{
    width: 41%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 83%;
    left: 43%;
}

.letter-k{
    width: 90px;
    height: 90px;
    position: relative;
   display: inline-block; 
}
.left-k{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.top-k{
    height: 65%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 1.2%;
    left: 44%;
    -webkit-transform: rotate(60deg);
}
.bottom-k{
    height: 65%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 35%;
    left: 44%;
    -webkit-transform: rotate(120deg);
}

.letter-l{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-l{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.bottom-l{
    width: 67%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 84%;
    left: 17%;
}

.letter-m{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-m{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-m{
    height:67%;
    width: 1%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-right-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 66%;
    -webkit-transform: rotate(46deg);
}
.middle-left-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 34%;
    -webkit-transform: rotate(-46deg);
}

.letter-n{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-n{
    height: 68%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-n{
    height: 68%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-n{
    height: 94%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: rotate(-45deg);   
}

.letter-o{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.center-o{
    width: 75%;
    height: 75%;
    border: 1px solid black;
    border-radius: 75%;
    position: relative;
    top: 13%;
    left: 7%; 
}

.letter-p{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-p{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.right-p{
    width: 44%;
    height: 44%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}

.letter-q{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-q{
    width: 75%;
    height: 75%;
    border: 1px solid black;
    border-radius: 75%;
    position: relative;
    top: 13%;
    left: 13%; 
}
.right-q{
    height: 40%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 51%;
    left: 71%;
    -webkit-transform: rotate(-45deg);  
}

.letter-r{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.right-r{
    width: 44%;
    height: 44%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}
.left-r{
    height: 67%;
    width: 1.2%;
   /* border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.bottom-r{
    height: 52%;
    width: 1%;
    background-color: black;
    position: absolute;
    top: 39%;
    left: 33%;
    -webkit-transform: rotate(-40deg);  
}

.letter-s{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.top-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.middle-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}
.left-s{
    height: 34%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-s{
    height: 34%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 50%; 
}

.letter-t{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.top-t{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-t{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-u{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-u{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-u{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 84%;
    top: 17%; 
}
.bottom-u{
    width: 68%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}

.letter-v{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-v{
    height: 75%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 28%;
    top: 13%;
    -webkit-transform: rotate(-29deg); 
}
.right-v{
    height: 75%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 64%;
    top: 13%; 
    -webkit-transform: rotate(29deg); 
}

.letter-w{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
    /*background-color: blue;*/
}
.left-w{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%;
}
.right-w{
    height:67%;
    width:1.2%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-left-w{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 33%;
    top: 21%;
    -webkit-transform: rotate(-150deg); 
}
.middle-right-w{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 66%;
    top: 21%; 
    -webkit-transform: rotate(150deg); 
}

.letter-x{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-x{
    height: 85%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 40%;
    top: 10%;
    -webkit-transform: rotate(-40deg); 
}
.right-x{
    height: 85%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 40%;
    top: 10%; 
    -webkit-transform: rotate(40deg); 
}

.letter-y{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.left-y{
    height: 40%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 36%;
    top: 10%; 
    -webkit-transform: rotate(-40deg); 
}
.right-y{
    height: 40%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 62%;
    top: 10%;
    -webkit-transform: rotate(40deg); 
}
.middle-y{
    height: 40%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 49%;
    top: 45%; 
}

.letter-z{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}
.top-z{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.bottom-z{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}
.middle-z{
    width: 94%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 3%;
    -webkit-transform: rotate(-45deg); 
}


.the{
    display: inline-block;
    position: relative;
    left: 20%;
    top: 5%;
}
.job{
    display: inline-block;
    position: relative;
    left: 20%;
    top: 5%;
}
.require{
    display: inline-block;
    position: relative;
    left: 10%;
    top: 5%;
}
.extra{
    display: inline-block;
    position: relative;
    left: 3%;
    top: 5%;
}
.pluck{
    display: inline-block;
    position: relative;
    left: 7%;
    top: 5%;
}
.and{
    display: inline-block;
    position: relative;
    left: 15%;
    top: 5%;
}
.zeal{
    display: inline-block;
    position: relative;
    left: 20%;
    top: 5%;
}
.from{
    display: inline-block;
    position: relative;
    left: 7%;
    top: 5%;
}
.every{
    display: inline-block;
    position: relative;
    left: 12%;
    top: 5%;
}
.young{
    display: inline-block;
    position: relative;
    top: 5%;
}
.wage{
    display: inline-block;
    position: relative;
    left: 5%;
    top: 5%;
}
.earner{
    display: inline-block;
    position: relative;
    left: 20%;
    top: 5%;
}

.box{
    width: 1010px;
    height: 740px;
    border-style: solid;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: -1;
}