.letter-wrapper{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.letter-p{
    width: 100px;
    height: 100px;
    position: relative;
    left: 25%;
    display: inline-block;
}
.left-p{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.right-p{
    width: 44%;
    height: 44%;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}

.letter-i{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.center-i{
    width: 1.2%;
    height: 67%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-i2{
    width: 100px;
    height: 100px;
    position: relative;
    left: -20%;
    display: inline-block;
}
.center-i2{
    width: 1.2%;
    height: 67%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-e{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.top-e{
    width: 66%;
    height: 1%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-e{
    width: 66%;
    height: 1%;
    /*border: 2px solid black;*/
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-e{
    width: 66%;
    height: 1%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 18%;
}
.left-e{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}

.letter-t{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.top-t{
    width: 67%;
    height: 1%;
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-t{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-m{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-m{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-m{
    height:67%;
    width: 1%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-right-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 66%;
    -webkit-transform: rotate(46deg);
}
.middle-left-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 34%;
    -webkit-transform: rotate(-46deg);
}

.letter-o{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.center-o{
    width: 75%;
    height: 75%;
    border: 1px solid black;
    border-radius: 75%;
    position: relative;
    top: 13%;
    left: 7%; 
}

.letter-n{
    width: 100px;
    height: 100px;
    position: relative;
    left: -10%;
    display: inline-block;
}
.left-n{
    height: 68%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-n{
    height: 68%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-n{
    height: 94%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: rotate(-45deg);   
}

.letter-d{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-d{
    height: 65%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%;
}
.right-d{
    width: 73%;
    height: 73%;
    border: 1px solid black;
    border-radius: 210%;
    position: absolute;
    top: 14%;
    left: 17%;
}

.letter-r{
    width: 100px;
    height: 100px;
    position: relative;
    left: 10%;
    display: inline-block;
}
.right-r{
    width: 44%;
    height: 44%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}
.left-r{
    height: 67%;
    width: 1.2%;
   /* border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.bottom-r{
    height: 52%;
    width: 1%;
    background-color: black;
    position: absolute;
    top: 39%;
    left: 33%;
    -webkit-transform: rotate(-40deg);  
}

.letter-a{
    width: 100px;
    height: 100px;
    position: relative;
    left: -20%;
    display: inline-block;
}
.left{
     height: 67%;
     width: 1%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 17%;
     -webkit-transform: rotate(22deg);
}
.right{
     height: 67%;
     width: 1.2%;
     background-color: black;
     /*border: 2px solid black;*/
     position: absolute;
     top: 17%;
     left: 43%;
     -webkit-transform: rotate(155deg);
}
.middle{
    width: 34%;
    height: 1.2%;
    background-color: black;
    /*border: 2px solid black;*/
    position: absolute;
    top: 58%;
    left: 14%;
}


.Piet{
    display: inline-block;
    position: absolute;
    top: 20%;
    left:5%;
    background-color:white;
    border: 2px solid black;
}
.Mondrian{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color:white;
    border: 2px solid black;
}