.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}

.letter-e{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.top-e{
    width: 66%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-e{
    width: 66%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: red;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-e{
    width: 66%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 83%;
    left: 18%;
}
.left-e{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    left: 17%;
    top: 17%; 
}