html{
    background-color: black;
}

.whitecircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle {
    width: 660px;
    height: 660px;
    border-radius: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.circle2 {
    width: 155px;
    height: 155px;
    border-radius:155px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: yellow;
    transform: translate(-50%, -50%);
}
.circle3{
     width: 250px;
    height: 250px;
    border-radius:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: Green;
    transform: translate(-50%, -50%);
}
.circle4{
    width: 360px;
    height: 360px;
    border-radius: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #00FFFF;
    transform: translate(-50%, -50%);
}
.circle5{
    width: 460px;
    height: 460px;
    border-radius: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: Blue;
    transform: translate(-50%, -50%);
}
.circle6{
    width: 560px;
    height: 560px;
    border-radius: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: Magenta;
    transform: translate(-50%, -50%);
}
.circle7{
     width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}