html{
    background-color:#CCCCCC;
}


.wrapper{
    width: 155px;
    height: 155px;
    border-radius:155px;
    transform: translate(-50%, -50%);
}
.circle {
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: red;
}
.circle2 {
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: yellow;
}
.circle3{
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: Green;
}
.circle4{
    position: absolute;
    top: 80%;
    left: 70%;
    background-color: #00FFFF;
    
}
.circle5{
    position: absolute;
    top: 50%;
    left: 75%;
    background-color: Blue;
    
}
.circle6{
    position: absolute;
    top: 20%;
    left: 69%;
    background-color: Magenta;
   
}
.circle7{
    position: absolute;
    top: 50%;
    left: 24%;
    background-color: white;
    
}
.circle8{
     position: absolute;
    top: 20%;
    left: 30%;
    background-color: black;
    
}

.color{
    width: 20px;
    height:20px;
    border-radius: 20px;
    top: 10%;
    left: 50%; 
    background-color: black;
    transform: translate(-50%, -50%);
}
.color2{
     width: 20px;
    height:20px;
    border-radius: 20px;
    top: 10%;
    left: 60%; 
    background-color: black;
    transform: translate(-50%, -50%);
}