.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}

.letter-c{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.left-c{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    left: 16%;
    top: 17%;
}
.top-c{
    width: 65%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 17%;
    left: 17%;
}
.bottom-c{
    width: 65%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 83%;
    left: 17%;
}