.letter-wrapper{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.letter-c{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-c{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 16%;
    top: 17%;
}
.top-c{
    width: 65%;
    height: 1.2%;
    background-color: red;
    position: absolute;
    top: 17%;
    left: 17%;
}
.bottom-c{
    width: 65%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 83%;
    left: 17%;
}

.letter-a{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 16%;
     -webkit-transform: rotate(22deg);
}
.right{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 44%;
     -webkit-transform: rotate(155deg);
}
.middle{
    width: 34%;
    height: 1%;
    background-color: black;
    position: absolute;
    top: 58%;
    left: 14%;
}

.letter-r{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.right-r{
    width: 44%;
    height: 44%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}
.left-r{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.bottom-r{
    height: 52%;
    width: 1%;
    background-color: black;
    position: absolute;
    top: 39%;
    left: 33%;
    -webkit-transform: rotate(-40deg);  
}

.letter-l{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-l{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.bottom-l{
    width: 67%;
    height: 1%;
    background-color: black;
    position: absolute;
    top: 84%;
    left: 17%;
}

.letter-c2{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-c2{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%;
}
.top-c2{
    width: 65%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%;
}
.bottom-c2{
    width: 65%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}

.letter-a2{
    width: 100px;
    height: 100px;
    position: relative;
    left: 8%;
    display: inline-block;
}
.left2{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 16%;
     -webkit-transform: rotate(22deg);
}
.right2{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 44%;
     -webkit-transform: rotate(155deg);
}
.middle2{
    width: 34%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 58%;
    left: 14%;
}

.letter-s{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.top-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.middle-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-s{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 17%;
}
.left-s{
    height: 34%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-s{
    height: 34%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 50%; 
}

.letter-h{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-h{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.right-h{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 84%;
    top: 17%; 
}
.middle-h{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}

.letter-m{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-m{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-m{
    height:67%;
    width: 1%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-right-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 66%;
    -webkit-transform: rotate(46deg);
}
.middle-left-m{
    height: 47%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 34%;
    -webkit-transform: rotate(-46deg);
}

.letter-n{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-n{
    height: 68%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-n{
    height: 68%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-n{
    height: 94%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: rotate(-45deg);   
}


.Carl{
    display: inline-block;
    position: absolute;
    top: 20%;
    left:5%;
    background-color:white;
    border: 2px solid black;
}
.Cashman{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color:white;
    border: 2px solid black;
}