.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}
.letter-u{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.left-u{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-u{
    height: 67%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 84%;
    top: 17%; 
}
.bottom-u{
    width: 68%;
    height: 1.2%;
    background-color: red;
    position: absolute;
    top: 83%;
    left: 17%;
}
