.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}
.letter-h{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.left-h{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.right-h{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    left: 84%;
    top: 17%; 
}
.middle-h{
    width: 67%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: red;
    position: absolute;
    top: 50%;
    left: 17%;
}