.letter-wrapper{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.letter-n{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-n{
    height: 68%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.right-n{
    height: 68%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    left: 83%;
    top: 17%; 
}
.middle-n{
    height: 94%;
    width: 1.2%;
    background-color: red;
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: rotate(-45deg);   
}

.letter-e{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.top-e{
    width: 66%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-e{
    width: 66%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 17%;
}
.bottom-e{
    width: 66%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 83%;
    left: 18%;
}
.left-e{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}

.letter-i{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.center-i{
    width: 1.2%;
    height: 67%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-l{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left-l{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.bottom-l{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 84%;
    left: 17%;
}

.letter-r{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.right-r{
    width: 44%;
    height: 44%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 16%;
}
.left-r{
    height: 67%;
    width: 1.2%;
   /* border: 1px solid black;*/
    background-color: black;
    position: absolute;
    left: 16%;
    top: 17%; 
}
.bottom-r{
    height: 52%;
    width: 1%;
    background-color: black;
    position: absolute;
    top: 39%;
    left: 33%;
    -webkit-transform: rotate(-40deg);  
}

.letter-a{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.left{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 16%;
     -webkit-transform: rotate(22deg);
}
.right{
     height: 70%;
     width: 1.2%;
     background-color: black;
     position: absolute;
     top: 17%;
     left: 44%;
     -webkit-transform: rotate(155deg);
}
.middle{
    width: 34%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 58%;
    left: 14%;
}

.letter-i{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.center-i{
    width: 1.2%;
    height: 67%;
    /*border: 1px solid black;*/
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.letter-t{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.top-t{
    width: 67%;
    height: 1.2%;
    background-color: black;
    position: absolute;
    top: 16%;
    left: 17%; 
}
.middle-t{
    height: 67%;
    width: 1.2%;
    background-color: black;
    position: absolute;
    top: 17%;
    left: 50%;
}

.Neil{
    display: inline-block;
    position: absolute;
    top: 20%;
    left:5%;
    background-color:white;
    border: 2px solid black;
}
.Raitt{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color:white;
    border: 2px solid black;
}