.letter-wrapper{
    display: inline-block;
    /*width: 200px;
    height: 200px;
    background-color: blue;*/
}

.letter-f{
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 10px;
}
.left-f{
    height: 67%;
    width: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    left: 17%;
    top: 17%; 
}
.top-f{
    width: 67%;
    height: 1.2%;
    /*border: 1px solid black;*/
    background-color: red;
    position: absolute;
    top: 17%;
    left: 17%; 
}
.middle-f{
    width: 67%;
    height: 1.2%;
    /*border: 2px solid black;*/
    background-color: red;
    position: absolute;
    top: 50%;
    left: 17%;
}