body{
   /* background-image: url(background.jpeg);*/
   background-color: #99FFCC;
}
h1 {
    text-shadow: 2px 2px 5px red;
    font-size: 70px;
}
#intro {

  font-size: 100px;
  margin-bottom: 10px;
  color: black;
}

.normal {
	color: #999999;
	font-size: 20px;
}
.indent{
     font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-left:40px;
     color: #999999;
}
div {
    width: 200px;
    height: 100px;
    background: blue;
    -webkit-transition: width 2s;
    transition: width 2s;
}
div:hover {
    width: 500px;
}

#div1 {
    width: 200px;
    height: 100px;
    background: #4775D1;
    -webkit-transition: width 2s;
    transition: width 2s;
}
#div1:hover {
    width: 700px;
}

#div2 {
    width: 100px;
    height: 150px;
    background-color: #99B2E6;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
#div2 {-webkit-animation-timing-function: ease;}
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}
#div2:hover {
    width: 700px;
