.button{
    width: 90px;
    height: 40px;
    background-color:gray;
    position: absolute;
    top: 7.5%;
    left: 80%;
}
h2{
    color:white;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}
.circle{
  width: 122px;
  height: 80px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 79%;
  z-index: -1;
}

img{
    position: absolute;
    top: 50px;
    left: 50px;
}