h1{
     font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
}

a:link{
    color: #FF00FF;
}

a:hover {
    color: #FFFFFF;
}

a:visited {
    color: #19FFD1;
}

img{
    border-style: solid;
    border-color: #000000;
    margin:10px;
}
